@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.input {
  @apply w-full border rounded-lg px-4 py-2 text-black focus:ring-2 focus:ring-indigo-500 outline-none;
}
.label {
  @apply block text-sm font-semibold text-gray-700 mb-1;
}
.btn-primary {
  @apply px-6 py-3 rounded-lg bg-indigo-600 text-white font-semibold hover:bg-indigo-700 flex items-center justify-center gap-2;
}
.btn-secondary {
  @apply px-6 py-3 rounded-lg border font-semibold text-gray-700 hover:bg-gray-100;
}
.loader {
  @apply w-5 h-5 border-2 border-white border-t-transparent rounded-full animate-spin;
}
